/** @format */
/* 
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(22 21 19);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(71, 62, 52);
  flex-wrap: wrap;
}

header nav {
  margin-right: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  color: white;
  padding: 24px;
  text-decoration: none;
}

.active {
  border-bottom: white;
}

header p {
  font-size: 20px;
}

body {
  /* font-family: "Sofia", sans-serif; */
/* text-shadow: 3px 3px 3px #ababab; */
/* font-family: 'Abril Fatface', serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif; 
  font-family: "Audiowide", sans-serif;
  background-image: url(../img/d.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgb(22, 21, 19);
}

.btn1 {
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background: linear-gradient(
    to right,
    #ff5e68 6%,
    #fe6c65 38%,
    #fe6f64 38%,
    #ff9c51 89%
  );
}

.btn {
  cursor: pointer;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  border-left: 1px solid pink;
  border-right: 1px solid purple;
  color: white;
  background-color: rgb(22, 21, 19);
}

h1,
h2 {
  font-size: 48px;
}

h1,
h2,
p,
span,
h3 {
  color: white;
}

hr {
  width: 200px;
}

section img {
  margin-top: 70px;
  width: 372px;
}

#home {
  height: 100vh;
}

#home,
#about {
  width: 100%;
  /* margin-top: 53px; 
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

#about img {
  margin-top: 40px;
  margin-bottom: 37px;
}

.nr {
  background: linear-gradient(
    to right,
    #b26ceb 6%,
    #de6bbd 20%,
    #fe6c65 38%,
    #fe6f64 38%,
    #ff9c51 89%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#summary {
  font-family: "Mali", cursive;
}

.pp {
  font-family: "Mali", cursive;
}

.active {
  color: transparent;
  text-shadow: 0 0 0 white;
  border-bottom: 3px solid;
  border-image: linear-gradient(
    to right,
    #ff5e68 6%,
    #fe6c65 38%,
    #fe6f64 38%,
    #ff9c51 89%
  );
  border-image-slice: 1;
}

a:hover {
  color: #fe6c65;
}

.nn {
  flex-direction: column;
  display: flex;
  align-items: center;
}

#project {
  background-color: rgb(30, 30, 30);
}

.p {
  margin-left: 32px;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.p1,
.p2 {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.p1 {
  margin-top: 102px;
  margin-bottom: 102px;
  margin-right: 19px;
  flex-direction: row-reverse;
}

.p2 {
  margin-left: 59px;
}

footer {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(22, 21, 19);
  height: 244px;
}

.j {
  margin-left: 23px;
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
}

#bb {
  margin-bottom: 30px;
  margin-left: 11px;
  width: 43px;
  margin-right: 28px;
  font-size: 19px;
  padding: 8px;
  color: white;
  background-color: black;
  border: none;
  border: 1px dashed;
  border-bottom-color: rgb(255, 95, 106);
  border-right-color: rgb(255, 151, 82);
  border-left-color: rgb(124, 74, 146);
  border-top-color: rgb(255, 95, 106);
  border-radius: 50%;
}

#bb:hover {
  color: rgb(124, 74, 146);
}

.line {
  line-height: 1.7;
}

#home div .btn1 {
  font-size: 14px;
  margin-right: 10px;
}

.po {
  margin-bottom: 33px;
}

.last-iframe {
  margin-bottom: 41px;
}

.writer {
  color: white;
  text-transform: uppercase;
}

h4 {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@media only screen and (min-width: 640px) and (max-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops 
  section img {
    margin-top: 0;
    width: 300px;
  }

  h1,
  h2 {
    font-size: 34px;
  }

  #home {
    margin-top: 76px;
    padding: 24px;
  }

  #summary {
    font-size: 15px;
  }

  header nav {
    width: 100%;
    margin-right: 0;
    background-color: rgb(22 21 19);
    border-bottom: 1px solid rgb(71, 62, 52);
  }

  #about {
    padding: 24px;
    margin-top: 48px;
  }

  .nn {
    padding: 11px;
    align-items: normal;
  }

  .nn b {
    font-size: 15px;
  }

  h2 > .nr {
    padding-right: 0;
  }
}

@media only screen and (min-width: 444px) and (max-width: 641px) {
  .j {
    flex-wrap: wrap;
  }

  section img {
    width: 248px;
  }

  h1,
  h2 {
    font-size: 30px;
  }

  #home {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 6px;
    margin-top: 147px;
  }

  #about {
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 48px;
  }

  #summary {
    padding-right: 8px;
  }

  .pp {
    padding-right: 47px;
  }

  .p {
    margin-top: 24px;
    margin-left: 0;
    margin-bottom: 38px;
    align-items: stretch;
  }

  .p2 {
    margin-left: 0;
  }

  .p1 {
    margin-right: 0;
  }

  .p1,
  .p2 {
    flex-wrap: wrap;
    padding: 12px;
  }

  header nav {
    margin-right: 0;
    width: 100%;
    background-color: rgb(22 21 19);
    border-bottom: 1px solid rgb(71, 62, 52);
  }

  section img {
    margin-top: 0;
  }

  .nn {
    padding: 16px;
    align-items: normal;
  }

  .nn b {
    font-size: 15px;
  }

  h2 > .nr {
    padding-right: 0;
  }

  iframe {
    width: 100%;
  }

  #home div {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }

  #home div .btn1 {
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .btn {
    margin-left: 0;
  }

  .b2 {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 320px) and (max-width: 443px) {
  #home {
    margin-top: 212px;
  }

  section img {
    width: 223px;
  }

  header nav {
    flex-wrap: wrap;
    background-color: rgb(22 21 19);
    border-bottom: 1px solid rgb(71, 62, 52);
  }

  .j {
    flex-wrap: wrap;
  }

  h1,
  h2 {
    font-size: 30px;
  }

  #home {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 6px;
  }

  #about {
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 48px;
  }

  #summary {
    padding-right: 8px;
  }

  .pp {
    padding-right: 47px;
  }

  .p {
    margin-top: 24px;
    margin-left: 0;
    margin-bottom: 38px;
    align-items: stretch;
  }

  .p2 {
    margin-left: 0;
  }

  .p1 {
    margin-right: 0;
  }

  .p1,
  .p2 {
    flex-wrap: wrap;
    padding: 12px;
  }

  header nav {
    margin-right: 0;
    width: 100%;
  }

  section img {
    margin-top: 0;
  }

  .nn {
    padding: 16px;
    align-items: normal;
  }

  .nn b {
    font-size: 15px;
  }

  h2 > .nr {
    padding-right: 0;
  }

  iframe {
    width: 100%;
  }

  #home div {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }

  #home div .btn1 {
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .btn {
    margin-left: 0;
  }

  .b2 {
    display: flex;
    flex-direction: column;
  }
}

.bashar {
  border-radius: 50%;
}

*/
/* ******************************************************* */
* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --main-color: rgb(22, 21, 19);
  --hover-color: #fe6c65;
}

html {
  scroll-behavior: smooth !important;

  body {
    font-family: "Audiowide", sans-serif;
    color: white;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .container {
      padding: 0 10px;
      margin: 0 auto;

      /** Small */
      @media (min-width: 768px) {
        width: 750px;
      }

      /** Medium */
      @media (min-width: 992px) {
        width: 970px;
      }

      /** Large */
      @media (min-width: 1200px) {
        width: 1170px;
      }

      /** Very Large */
      @media (min-width: 1400px) {
        width: 1370px;
      }
    }

    a {
      color: white;
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--main-color);
  border-bottom: 0.1px solid rgba(254, 109, 101, 0.25);
  padding: 6px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 567px) {
      flex-direction: column;
    }
  }

  .logo {
    a {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 700;

      img {
        width: 60px;

        @media (max-width: 567px) {
          width: 50px;
        }
      }
    }
  }

  nav {
    @media (max-width: 567px) {
      padding: 10px 0;
    }

    ul {
      display: flex;

      li {
        margin-left: 40px;

        @media (max-width: 567px) {
          margin-left: 15px;
        }

        a {
          font-size: 1rem;
          font-weight: 500;
          transition: all 0.2s;

          &.active,
          &:hover {
            padding-bottom: 27px;
            border-bottom: 2px solid var(--hover-color);
            color: var(--hover-color);
          }
        }
      }
    }
  }
}

.line-effect {
  background: linear-gradient(
    to right,
    #b26ceb 6%,
    #de6bbd 20%,
    #fe6c65 38%,
    #fe6f64 38%,
    #ff9c51 89%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #ff5e68 6%,
    #fe6c65 38%,
    #fe6f64 38%,
    #ff9c51 89%
  );
  color: white;
  font-weight: 500;
  font-family: "Audiowide", sans-serif;
  transition: all 0.2s;

  &:hover {
    background: var(--hover-color);
  }
}

.border-button {
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 10px;
  padding: 13px 20px;
  border: none;
  border-left: 1px solid pink;
  border-right: 1px solid purple;
  color: white;
  background-color: rgb(22, 21, 19);
  font-family: "Audiowide", sans-serif;

  &:hover {
    background: var(--hover-color);
  }
}

.popup-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2000;
  cursor: zoom-out;
}

.popUp {
  position: fixed;
  z-index: 2001;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;

  @media (max-width: 767px) {
    width: 370px;
  }

  img {
    width: 730px;
    max-width: 100%;
    transition: 0.3s;
    border-radius: 12px;
    cursor: grab;

    &:hover {
      transform: scale(1.1);
    }
  }
}

main {
  padding-bottom: 90px;
  #home {
    height: 100vh;

    @media (max-width: 992px) {
      border-bottom: 1px solid var(--hover-color);
      padding-bottom: 40px;
    }

    .container {
      height: 100%;

      .landing-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @media (max-width: 992px) {
          flex-direction: column-reverse;
        }

        .left {
          h1 {
            font-size: 48px;
            margin-bottom: 20px;

            span {
              display: inline-block;
              transform-origin: 70% 80%;
              animation: wave 2s ease-in-out infinite;
            }
          }

          h2,
          .line-effect {
            font-size: 2.5rem;
          }

          .nr {
            font-size: 16px;

            @media (max-width: 560px) {
              display: block;
            }
          }

          p {
            font-size: 18px;
            margin-bottom: 20px;
            font-family: "Mali", cursive;
            width: 70%;
            padding: 0.5rem 0;
            text-transform: capitalize;

            @media (max-width: 992px) {
              width: 100%;
            }
          }
        }

        .right {
          @media (max-width: 992px) {
            margin-top: 160px;
          }

          img {
            width: 28rem;
            height: 28rem;
            border-radius: 50%;

            @media (max-width: 992px) {
              width: 20rem;
              height: 20rem;
            }

            @media (max-width: 567px) {
              width: 15rem;
              height: 15rem;
            }
          }
        }
      }
    }
  }

  #about {
    height: 60vh;

    @media (max-width: 992px) {
      height: 70vh;
      padding-top: 40px;
    }

    .container {
      height: 100%;

      .aboutme-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 992px) {
          flex-direction: column;
        }

        .left,
        .right {
          width: 50%;

          @media (max-width: 992px) {
            width: 100%;
          }
        }

        .left {
          font-size: 2.5rem;

          @media (max-width: 992px) {
            margin-top: 70px;
            font-size: 2rem;
          }
        }

        .right {
          font-size: 16px;
          line-height: 1.8;
          margin-bottom: 20px;
          font-family: "Mali", cursive;
          font-weight: 800;
          padding: 0.5rem 0;
          text-transform: capitalize;

          p {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

#projects {
  background-color: rgb(30, 30, 30);

  @media (max-width: 992px) {
    padding-top: 40px;
  }

  h2 {
    font-size: 3.2rem;
    text-align: center;
    color: var(--hover-color);
    padding: 70px 0;

    @media (max-width: 992px) {
      font-size: 2rem;
    }
  }

  .container {
    text-align: center;
  }

  .project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

    &.reverse {
      flex-direction: row-reverse;
    }

    @media (max-width: 992px) {
      flex-direction: column;

      &.reverse {
        flex-direction: column;
      }
    }

    .data {
      width: 50%;

      @media (min-width: 1200px) {
        padding-left: 50px;
      }

      @media (max-width: 992px) {
        width: 100%;
      }

      h3 {
        font-size: 1.2rem;
        margin-bottom: 20px;

        @media (max-width: 992px) {
          font-size: 0.9rem;
          padding-top: 20px;
        }
      }

      p {
        font-size: 15px;
        line-height: 1.8;
        margin-bottom: 20px;
        font-family: "Mali", cursive;
        font-weight: 500;
        padding: 0.5rem 0;
        text-transform: capitalize;
      }

      .btn {
        margin-top: 20px;
      }
    }

    .photo {
      width: 40%;
      cursor: pointer;

      img {
        width: 530px;
        height: 270px;
        border-radius: 10px;
      }

      @media (max-width: 992px) {
        width: 100%;

        img {
          width: 320px;
          height: 200px;
        }
      }
    }
  }

  .dotted {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    -webkit-text-security: disc;
    background: linear-gradient(
      to right,
      #b26ceb 50%,
      #de6bbd 20%,
      #fe6c65 38%,
      #fe6f64 38%,
      #ff9c51 89%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

footer {
  text-align: center;
  padding: 90px 0;

  h3 {
    font-size: 48px;
    padding-bottom: 50px;
  }

  ul {
    li {
      display: inline-block;

      a {
        margin-bottom: 30px;
        margin-left: 11px;
        width: 43px;
        margin-right: 28px;
        font-size: 19px;
        padding: 10px;
        color: white;
        background-color: black;
        border: none;
        border: 1px dashed;
        border-bottom-color: rgb(255, 95, 106);
        border-right-color: rgb(255, 151, 82);
        border-left-color: rgb(124, 74, 146);
        border-top-color: rgb(255, 95, 106);
        border-radius: 50%;

        &:hover {
          color: var(--hover-color);
        }
      }
    }
  }
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
